<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add hotel Page</title>
</head>
<body>
<h2>Add hotel Page</h2>
<form action="/hotels/create" method="post">
    <label>Name: <input type="text" name="name" required/></label><br/>
    <label>Description: <textarea name="description" required></textarea></label><br/>
    <label>City: <input type="text" name="city" required/></label><br/>
    <label>Country: <input type="text" name="country" required/></label><br/>
    Rating:
    <select name="rate" required>
        <option value="FIVE">5</option>
        <option value="FOUR">4</option>
        <option value="THREE">3</option>
        <option value="TWO">2</option>
        <option value="ONE">1</option>
    </select>
    <button type="submit">Save Hotel</button>
</form>
</body>
</html>