<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>hotels Page</h2>
<table border="1">
    <tr>
        <th>hotel Name</th>
        <th>Description</th>
        <th>City</th>
        <th>Country</th>
        <th>Rooms Numbers</th>
        <th>Room Image</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="hotel : ${hotels}">
        <td th:text="${hotel.name}"></td>
        <td th:text="${hotel.description}"></td>
        <td th:text="${hotel.city}"></td>
        <td th:text="${hotel.country}"></td>
        <td th:if="${hotel.rooms != null and !hotel.rooms.isEmpty()}" th:text="${hotel.rooms[0].roomNumber}"></td>
        <td th:if="${hotel.rooms != null and !hotel.rooms.isEmpty()}">
            <img th:src="@{/get-image(img=${hotel.rooms[0].imageUrls[0]})} " style="width: 100px" alt="">
        </td>
        <td><a th:href="@{/hotels/description(id=${hotel.id})}">Description</a></td>
        <td> <a th:href="@{/hotels/edit(id=${hotel.id})}">Edit</a>
            | <a th:href="@{/hotels/delete(id=${hotel.id})}">Delete</a> </td>
    </tr>
</table>
</body>
</html>