<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <title>Title</title>
</head>
<body>
<div th:replace="~{fragment/header::header}"></div>
<div class="hotel-list-error" th:if="${hotels.isEmpty()}">
  <h2 class="hotel-error-msg">Error 404 Hotel is not available. Please try later!</h2>
</div>
<div th:if="${!hotels.isEmpty()}" class="container">
  <div class="sidebar">
    <form class="filter-group" method="get">
      <label>
        <input class="checkbox" type="checkbox" name="rate" value="FIVE" />
        ★★★★★ (Five)
      </label>

      <label>
        <input class="checkbox" type="checkbox" name="rate" value="FOUR" />
        ★★★★☆ (Four)
      </label>

      <label>
        <input class="checkbox" type="checkbox" name="rate" value="THREE" />
        ★★★☆☆ (Three)
      </label>

      <label>
        <input class="checkbox" type="checkbox" name="rate" value="TWO" />
        ★★☆☆☆ (Two)
      </label>

      <label>
        <input class="checkbox" type="checkbox" name="rate" value="ONE" />
        ★☆☆☆☆ (One)
      </label>
      <button type="submit">Filter</button>
    </form>
    <h3>Filter by:</h3>
    <form class="filter-group" method="get">
      <label>
        <input class="checkbox" type="checkbox" name="isFreeWiFi" value="true" th:checked="${isFreeWiFi ?: false}"/>
        Free WiFi
        <input type="hidden" name="isFreeWiFi" value="false"/>
      </label>
      <label>
        <input class="checkbox" type="checkbox" name="isSwimmingPool" value="true"
               th:checked="${isSwimmingPool ?: false}"/>
        Swimming Pool
        <input type="hidden" name="isSwimmingPool" value="false"/>
      </label>
      <label>
        <input class="checkbox" type="checkbox" name="isParking" value="true" th:checked="${isParking ?: false}"/>
        Parking
        <input type="hidden" name="isParking" value="false"/>
      </label>
      <label>
        <input class="checkbox" type="checkbox" name="isFitnessCenter" value="true"
               th:checked="${isFitnessCenter ?: false}"/>
        Fitness Center
        <input type="hidden" name="isFitnessCenter" value="false"/>
      </label>
      <button type="submit">Filter</button>
    </form>
  </div>
  <div class="hotel-list">
    <div class="hotel-card" th:each="hotel: ${hotels}">
      <div class="hotel-image">
        <img th:src="@{/get-image(img=${hotel.getRooms()[0].getImageUrls()[0]})}" alt="Hotel Image">
      </div>
      <div class="hotel-details">
        <div class="hotel-name" th:text="${hotel.getName()}">
          <span class="hotel-rating">****</span>
        </div>
        <div th:text="${'Hotel in ' + hotel.getCity() + ' ' + hotel.getCountry()}"></div>
        <div th:text="${hotel.getDescription()}"></div>
        <div>Superb <span class="hotel-rating">9.1</span></div>
        <div class="price" th:text="${'AMD ' +  hotel.getRooms()[0].getPricePerNight() + ' per night'}"></div>
        <button class="button">Check availability</button>
      </div>
    </div>
  </div>
</div>
<div th:if="${hotels.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
  <a th:href="@{/(pageSize=${hotels.size}, pageNumber=${pageNumber})}"
     th:text="${pageNumber}"
     th:class="${pageNumber == hotels.number + 1} ? active"></a>
</div>
</body>
</html>