<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <title>Register</title>
</head>
<body>
<h2>Register</h2>
<form method="post" th:action="@{/register}">
    <label>Username:</label>
    <label>
        <input type="text" name="username" required />
    </label><br>

    <label>Password:</label>
    <label>
        <input type="password" name="password" required />
    </label><br>

    <button type="submit">Register</button>
</form>
<p th:if="${error}" th:text="${error}" style="color: red;"></p>
<p>Already have an account? <a th:href="@{/login}">Login here</a></p>
</body>
</html>
