<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Register</title>
</head>
<body>
<h2>Register</h2>
<form method="post" action="/register">

    <label>Name:</label>
    <label>
        <input type="text" name="name" required>
    </label>

    <label>Email:</label>
    <label>
        <input type="text" name="email" required>
    </label>

    <label>Password:</label>
    <label>
        <input type="password" name="password" required>
    </label>

    <label>Role:</label>
    <label>
        <select name="role">
            <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
        </select>
    </label>

    <button type="submit">Register</button>
</form>

<p>Already have an account? <a href="/login">Login here</a></p>
</body>
</html>
